# Dependencies
node_modules/

# Next.js build output
.next/
out/

# Local environment files
.env*

# Editor and OS files
.vscode/*
!.vscode/ci.yml
.DS_Store
Thumbs.db

# TypeScript build info
*.tsbuildinfo