<div class="nav">
  <!-- location -->
  <a><img src="assets/location-pin.svg" width="16" height="16" style="vertical-align: middle; margin-right: 1px;"> Chemin de Rieu 3, 1208 Geneva, Switzerland
  </a>

  <!-- contact by mail -->
  <a href="mailto:connect@ctjfi.org"><img src="assets/mail-pencil.svg" width="16" height="16" style="vertical-align: middle; margin-right: 2px;">connect&#64;ctjfi.org</a>

  <!-- socmed icons -->
  <div class="socmed">
    <a href="https://www.instagram.com/ctjfi/"><img src="assets/ig-icon.svg" width="16" height="16" style="vertical-align: middle; margin-right: 2px;"  class="icon"></a>

    <a href="https://www.facebook.com/ctjfichurch"><img src="assets/fb-icon.svg" width="18" height="18" style="vertical-align: middle; margin-right: 2px;" class="icon"></a>

    <a href="https://www.youtube.com/@ctjfichurch"><img src="assets/yt-icon.svg" width="18" height="18" style="vertical-align: middle; margin-right: 2px;" class="icon"></a>
  </div>

</div>