/* ------ FONTS ------ */

@font-face {
  font-family: "Halte Haas Grotesk";
  src: url("../../../src/assets/halte-haas-grotesk/AlteHaasGroteskRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Halte Haas Grotesk";
  src: url("../../../src/assets/halte-haas-grotesk/AlteHaasGroteskBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Bros Oskon 90s";
  src: url("../../../src/assets/zt-bros-oskon-90s/ZTBrosOskon90s-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Bros Oskon 90s";
  src: url("../../../src/assets/zt-bros-oskon-90s/ZTBrosOskon90s-Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

/* ------------------- */

/* TEXT */
.nav a {
    font-family: "Halte Haas Grotesk", Helvetica, Arial, sans-serif;
    font-size: medium;
    padding: 0.5rem;
    /*transition-duration: 0.3s;*/
}

/*.nav a:hover {
    color: deeppink;
    transition-duration: 0.2s;
}*/

/* POSITIONING */
.nav {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    background-color: burlywood;
}

.left a,
.right a {
  text-decoration: none;
  margin: 0 5px;
  color: #333;
}

.icon svg {
  fill: #333;
  transition: fill 0.3s ease;
}

.icon:hover svg {
  fill: deeppink;
}