/* ------ FONTS ------ */

@font-face {
  font-family: "Halte Haas Grotesk";
  src: url("../../src/assets/halte-haas-grotesk/AlteHaasGroteskRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Halte Haas Grotesk";
  src: url("../../src/assets/halte-haas-grotesk/AlteHaasGroteskBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Bros Oskon 90s";
  src: url("../../src/assets/zt-bros-oskon-90s/ZTBrosOskon90s-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Bros Oskon 90s";
  src: url("../../src/assets/zt-bros-oskon-90s/ZTBrosOskon90s-Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

/* ------------------- */


html {
  /*background-image: url("../../src/assets/temple-malagnou.jpg");*/
  background-repeat: no-repeat;
  /*background-color: #2f4f4f;*/
  background: linear-gradient(60deg,rgba(47, 79, 79, 1) 26%, rgba(253, 159, 37, 1) 100%);
  font-family:'Halte Haas Grotesk', Helvetica, Tahoma, Geneva, Verdana, sans-serif;
}

body {
  /*background-color: #f0f0f0;*/
  font-size: 1.2em;
  color: antiquewhite;
  line-height: 1.6;
  overflow-x: hidden;
}

h1 {
  font-family: "Bros Oskon 90s";
}
