@font-face {
  font-family: "Halte Haas Grotesk";
  src: url("../../src/assets/halte-haas-grotesk/AlteHaasGroteskRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Halte Haas Grotesk";
  src: url("../../src/assets/halte-haas-grotesk/AlteHaasGroteskBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Bros Oskon 90s";
  src: url("../../src/assets/zt-bros-oskon-90s/ZTBrosOskon90s-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bros Oskon 90s";
  src: url("../../src/assets/zt-bros-oskon-90s/ZTBrosOskon90s-Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}